*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none !important;
    display: inline-block; 
}

.container{
    width: 1140px !important;
    margin: 0 auto !important;
}

img{
    width: 100%;
}

.nav_photo{
    width: 100px;
}

.newButton{
    padding-top: 4px;
    padding-bottom: 10px;
    border-radius: 5px !important;
    border: none !important;
}